@charset "utf-8";
.test {
  font-size: 3em
}

.ie6 .test, #ie6 {
  color: salmon
}

.ie7 .test, #ie7 {
  color: red
}

.ie8 .test, #ie8 {
  color: blue
}

.ie9 .test, #ie9 {
  color: purple
}

.ie10 .test, #ie10 {
  color: orange
}

.ie11 .test, #ie11 {
  color: green
}

.edge .test, #edge {
  color: gray
}

.chrome .test, #chrome {
  color: navy
}

.firefox .test, #firefox {
  color: lime
}

.safari .test, #safari {
  color: fuchsia
}

.opera .test, #opera {
  color: brown
}